div.container {
    border: 3px solid rgb(126, 126, 126);
    /*position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);*/

    margin: auto;
    width: 500px;
    padding: 5px;
    text-align: center;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 15px;
}
.lonk {
    background-color: #363636;
    padding: 15px;
    color: white;
    border-radius: 15px;
    margin-bottom: 20px;
}