body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #222222;
}

header {
    background-color: #333333;
    padding: 1px;
    border-radius: 100px;
    margin: 10px;
}

/*? tekst */
a {
    color: rgb(197, 197, 197);
}
il>a {
    transition: ease 0.5s;
}
il>a:hover {
    color: rgb(158, 158, 158);
}
h1 {
    display: inline;
    color: #888888;
    font-weight: bolder;
    font-size: 40px;
}
p {
    color: rgb(179, 179, 179);
    font-size: larger;
    font-weight: 600;
}

header {
    background-color: #333333;
    padding: 1px;
    border-radius: 100px;
    margin: 10px;
}

section {
    background-color: #333333;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
}