nav {
    background-color: #6200EE;
    color: white;

    position: fixed;
    float: left;
    height: 4em;
    padding: 0;
}
nav > ul > li {
    display: inline;
    list-style: none;
    width: 100%;
    text-align: center;
    padding: 0;
}
nav.r {
    bottom: 0;
    right: 0;
    width: 80vw;
}
nav.l {
    bottom: 0;
    left: 0;
    width: 20vw;
    background-color: #7F39FB;
}
nav.l > ul > li {
    text-align: left;
    margin-left: 0.5em;
}
nav > ul > li > p {
    display: inline;
}
@media only screen and (max-width: 880px) {
    nav > ul > li > p {
        display: none;
    }
    nav.r {
        bottom: 0;
        right: 0;
        width: 100vw;
    }
    nav.l {
        bottom: 4em;
        left: 0;
        width: 100vw;
        background-color: #7F39FB;
    }
}
nav > ul {
    line-height: 0em;
    font-size: 2em;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}