@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: #6200EE;
    color: white;

    position: fixed;
    float: left;
    height: 6em;
    padding: 0;
}
nav > ul > li {
    display: inline;
    list-style: none;
    width: 100%;
    text-align: center;
    padding: 0;
    transition: ease 0.2s;
}
nav.r > ul > li:hover {
    background-color: rgba(76, 0, 130, 0.396);
    cursor: pointer;
}
nav.r {
    bottom: 0em;
    right: 0;
    width: 80vw;
}
nav.l {
    bottom: 0;
    left: 0;
    width: 20vw;
    background-color: #7F39FB;
}

nav.p {
    bottom: -28em;
    left: 0;
    width: 100vw;
    background-color: #7F39FB;
    transition: ease 0.5s;
    height: 28em;
}
nav.p.open {
    bottom: 4em;
    background-color: #985EFF;
}

nav.l > ul > li {
    text-align: left;
    margin-left: 0.5em;
}
nav > ul > li > p {
    display: inline;
}
@media only screen and (max-width: 880px) {
    nav > ul > li > div > p.d {
        display: none;
    }
    nav {
        height: 4em;
    }
    nav.r {
        bottom: 0;
        right: 0;
        width: 100vw;
    }
    nav.l {
        bottom: 4em;
        left: 0;
        width: 100vw;
        background-color: #7F39FB;
    }

    nav.p {
        bottom: -28em;
        left: 0;
        width: 100vw;
        background-color: #7F39FB;
        transition: ease 0.5s;
    }
    nav.p.open {
        bottom: 8em;
        background-color: #985EFF;
    }
}
nav > ul {
    line-height: 0em;
    font-size: 32px;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav.r > ul {
    margin-top: 0;
    margin-bottom: 0;
}